body{
    background-color: pink;
}


header{
    color:pink;
    background-color: rgb(0, 183, 255);
    height:40px;
    display: flex;
    align-items: center;
    
}
span a{
    color: pink;
    margin-left: 15px
}

h1{
    text-align: center;
    background-color: rgb(128, 52, 52);
    color: pink;
    position: relative;
    top:200px;
    font-size: 56px;
}
   
    